<h3>Would you like to add a new team!</h3>
<form action="teams/new" method="POST">
  Team Name:<input type="text" name="team_name"></input>
  <input type="submit" value="Add new Team!"></input>
</form><br>
