<h1>WElCOME TO THE  LOG IN PAGE</h1>
<form action="/login" method="POST">
  Username: <input type="text" name="username" placeholder="username"><br></br>
  Password: <input type="password" name="password" placeholder="password"><br></br>
  <input type="submit" value="Signin">
</form><br>
<a href="/signup">Sign Up!</a>
<% if flash.has?(:messages) %>
<p><font color="red"><%=flash[:messages]%></font></p>
<%end%>
