<h1>WElCOME TO THE  SIGN UP PAGE</h1>
<form action="/signup" method="POST">
  Name: <input id="text" type="text" name="name" placeholder="Donald Trump"><br></br>
  Username: <input id="text" type="text" name="username" placeholder="username"><br></br>
  Email Address: <input id="text" type="email" name="email_address" placeholder="Fwitter@email.com"><br></br>
  Password: <input id="text" type="password" name="password" placeholder="password"><br></br>
  Confirm Password: <input id="text" type="password" name="passwordmatch" placeholder="confirm password"><br></br>
  <input type="submit" value="Create User ">
</form>

<% if flash.has?(:errors) %>
  <% flash[:errors].messages.each do |key,value| %>
  <ul style="color:red;"><%=key%>
    <% value.each do |message|%>
    <li style="color:grey;"><%=message %></li>
    <%end%>
  </ul>
<% end %>
<% end %>
