<h1>WElCOME TO THE  SIGN UP PAGE</h1>
<form action="/signup" method="POST">
  Name: <input type="text" name="name" placeholder="Donald Trump"><br>
  Username: <input type="text" name="username" placeholder="username"><br>
  Email Address: <input type="text" name="email_address" placeholder="Fwitter@email.com"><br>
  Password: <input type="password" name="password" placeholder="password">
  Confirm Password: <input type="password" name="passwordmatch" placeholder="password">
  <input type="submit" value="submit">
</form>
<h1>Errors !</h1>


<%if @errors.any?%>
<ul>
  <li><%= @errors[0]%></li>

</ul>
<%else%>


<%end%>
