<h1>Welcome to the results of all the games in the HCCA league</h1>
<h2>Would you like to update scorecard for a new game <a href="/games/new">Scorecard<a/></h2>

<h3>Would you like to add a new team!</h3>
<form action="teams/new" method="POST">
  Team Name:<input type="text" name="team_name"></input>
  <input type="submit" value="Submit to enter game details!"></input>
</form><br>

<h3>Would you like to add a new team!</h3>
<form action="players/new" method="POST">
  Player Name:<input type="text" name="team_name"></input>
  <input type="submit" value="Submit to enter game details!"></input>
</form><br>

<a href="/logout">Logout</a>
