<h2>Click the links below to view the scorecard! </h2>
<%@game_reverse_order = Game.all.reverse%>
<%@game_reverse_order.each do |game| %>
<h3><a href="games/<%=game.id%>"><%=game.hometeam%> VS <%=game.awayteam%> and won by <%=game.result%></h3></a>
<%end%>

<a href="/logout">Logout</a>
