<h3>Pick the two teams that participated in this game</h2>
<form action="/teamselection/players" method="POST">
    <h2>HomeTeam!</h2>
    <select name="hometeam">
      <%Team.all.each do |team|%>
      <option value="<%=team.id%>"><%=team.name%></option>
      <%end%>
    </select><br></br>
      <h2>AwayTeam!</h2>
      <select name="awayteam">
        <%Team.all.each do |team|%>
        <option value="<%=team.id%>"><%=team.name%></option>
        <%end%>
        </select><br></br>
<input type="submit" value="Select players!"></input>
</form>
