<h2>Welcome to the cricket scoring application!</h2>

<h4><a href="/signup">Signup</a><br></br></h4>
<h4><a href="/login">Login</a></h4><br></br>
<h2>View all the scorecards of recent games!<a href="/games">Scorecards</a></h2>
<h3>Would you like to add a new game! <a href="/teamselection">New Game<a/></h3>
<h3>Would you like to add a new team! <a href="/teams/new">New Team<a/></h3>
<h3>Would you like to add a new player! <a href="/players/new">New Player<a/></h3><br>
<a href="/logout">Logout</a>
